/* !important for overriding react-bootstrap strict css */

@font-face {
    font-family: 'HeadFont';
    src: url('../assets/fonts/Wonderian.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NavFont';
    src: url('../assets/fonts/SpaceMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family:'Courier New', Courier, monospace;
    background-color: #f5dfa8 !important;
}

/* ================ */
/* NAVBAR */
/* ===== */

.navbar-custom {
  background-color: #b32d2d !important; 
  top: 0 !important;
  z-index: 3 !important;
  position: sticky !important;
}
.navbar-custom .nav-link {
  color: #ffffff !important; 
  font-size: 17px;
}
.navbar-custom .nav-link:hover {
  color: #f7fa6b !important; 
}

#navbar-brand {
    background-image: url("../assets/images/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;  
    background-position: center;
    display: block;   
    height: 80px;
    width: 200px;
}

.navbar-logo {
  background-size: 40px;
  display: block;
}

#navbar-links {
  font-family: 'NavFont';
}

.navbar-container {
    margin-top: 5px !important;
    margin-top: 5px !important;
    margin-left: 10px !important;
    
}

.navbar-nav .nav-item + .nav-item {
  border-left: 1px solid #f7fa6b !important;
  padding-left: 17px !important;
  margin-left: 17px !important;
}

/* for compressed, no line */
@media (max-width: 767.98px) {
  .navbar-nav .nav-item + .nav-item {
    border-left: none !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
  }
} 

.nav-dropdown {
  background-color: #f1ba4a !important; 
}

.dropdown-item:hover{
  background-color: #b32d2d !important; 
  color: #f1ba4a !important;
}

/* ===== */
/* NAVBAR */
/* ================ */

/* ================ */
/* TABLE */
/* ===== */
/* Base Table Properties */
.table-card {
  background: #ffffff;
  border: 5px solid #000000; 
  border-radius: 0.5rem;     
  box-shadow: 2px 3px 5px #490000;
  overflow: hidden;
  width: 80%;
  margin: 3rem auto;
}

.table-scroll {
  max-height: 500px;
  width: 100%;
}

.table {
  width: 100%;
  /* border-collapse: collapse !important; */
}
/* Base Table Properties */

/* tbody */
.tr, .tr-rows {
  display: flex;
}

.th, .td {       
  min-width: 10;        
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: inherit;
  text-align: center;
  border: none;
}
/* tbody */

/* thead */
thead {
  display: table-header-group !important;
}

thead .tr, .th{
  padding: 7px;
  position: sticky !important;
  top: 0;
  z-index: 2;
  font-weight: bold;
  font-family: 'NavFont';
  background-color: #ffd905 !important;
}
/* thead */

/* resizer */
.resizer {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 4px;
  background: transparent;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  border-radius: 6px; 
  transition: background 0.2s ease, opacity 0.2s ease;
}

.resizer.isResizing {
  background: #ffbc06;
  opacity: 1;
}

*:hover > .resizer {
  background: #ffbc06;
  opacity: 1;
}
/* resizer */

/* ===== */
/* TABLE */
/* ================ */
