/* !important for overriding react-bootstrap strict css */

@font-face {
    font-family: 'HeadFont';
    src: url('../assets/fonts/Wonderian.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NavFont';
    src: url('../assets/fonts/SpaceMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family:'Courier New', Courier, monospace;
    background-color: #f5dfa8 !important;
}

/* ================ */
/* NAVBAR */
/* ===== */

.navbar-custom {
  background-color: #b32d2d !important; 
  top: 0 !important;
  z-index: 3 !important;
  position: sticky !important;
}
.navbar-custom .nav-link {
  color: #ffffff !important; 
  font-size: 17px;
}
.navbar-custom .nav-link:hover {
  color: #f7fa6b !important; 
}

#navbar-brand {
    background-image: url("../assets/images/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;  
    background-position: center;
    display: block;   
    height: 80px;
    width: 200px;
}

.navbar-logo {
  background-size: 40px;
  display: block;
}

#navbar-links {
  font-family: 'NavFont';
}

.navbar-container {
    margin-top: 5px !important;
    margin-top: 5px !important;
    margin-left: 10px !important;
    
}

.navbar-nav .nav-item + .nav-item {
  border-left: 1px solid #f7fa6b !important;
  padding-left: 17px !important;
  margin-left: 17px !important;
}

/* for compressed, no line */
@media (max-width: 767.98px) {
  .navbar-nav .nav-item + .nav-item {
    border-left: none !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
  }
} 

.nav-dropdown {
  background-color: #f1ba4a !important; 
}

.dropdown-item:hover{
  background-color: #b32d2d !important; 
  color: #f1ba4a !important;
}

/* ===== */
/* NAVBAR */
/* ================ */

.heading-card {
  background: #ffc561;
  border: 5px solid #000000; 
  border-radius: 0.5rem;     
  box-shadow: 2px 3px 5px #664400;
  overflow: hidden;
  width: 40%;
  padding: 30px;
  margin: 50px auto -10px auto;
  z-index: -1;
}

.heading-card h1 {
  text-align: center;
  font-family: "NavFont";
  font-weight: bolder;
}

/* ================ */
/* TABLE */
/* ===== */
/* Base Table Properties */
.table-card {
  background: #ffffff;
  border: 5px solid #000000; 
  border-radius: 0.5rem;     
  box-shadow: 2px 3px 5px #490000;
  overflow: hidden;
  width: 80%;
  margin: 0rem auto 0rem auto;
}

.table-scroll {
  width: 100%;
}

.table {
  width: 100%;
}
/* Base Table Properties */

/* tbody */
.tr, .tr-rows {
   display: flex;           
  justify-content: center;    
  align-items: center;        
  min-width: 10px; 
  border: none;
}

.th, .td {       
  min-width: 10px;        
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: inherit;
  text-align: center;
  display: flex;           
  justify-content: center;    
  align-items: center;        
  min-width: 10px; 
  border: none;
}
/* tbody */

/* thead */
thead {
  display: table-header-group !important;
}

thead .tr, .th{
  padding: 7px;
  position: sticky !important;
  top: 0;
  z-index: 2;
  font-weight: bold;
  font-family: 'NavFont';
  background-color: #ffd905 !important;
}
/* thead */

/* resizer */
.resizer {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 4px;
  background: transparent;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  border-radius: 6px; 
  transition: background 0.2s ease, opacity 0.2s ease;
}

.resizer.isResizing {
  background: #ffbc06;
  opacity: 1;
}

*:hover > .resizer {
  background: #ffbc06;
  opacity: 1;
}

.tr .th:last-child .resizer {
  cursor: default;
  background-color: transparent;
}
/* resizer */

/* ===== */
/* TABLE */
/* ================ */

/* ================ */
/* ICONS */
/* ===== */

.search {
  margin-top: 1rem;
  display: flex;
  position: relative;
}

.search-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.search-icon:hover{
  width: 30px;
  height: 30px;
  margin-right: 5px;
  transform: scale(1.2); 
}

.search input {
  margin-left: 2.5rem;
  border: 2px #000000;
  border-radius: 5px;
}


.delete-button, 
.edit-button,
.view-button {
  margin: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  display: inline-block;
}

/* TO DO: Hover animation using hover versions of icons.. found in same folder */
.edit-button:hover,
.delete-button:hover,
.view-button:hover {
  transform: scale(1.2); 
}


/* ===== */
/* ICONS */
/* ================ */

/* ================ */
/* PAGES */
/* ===== */

.pages-card {
  background: #a8f5f2;
  border: 5px solid #000000; 
  border-radius: 0.5rem;     
  box-shadow: 2px 3px 5px #664400;
  overflow: hidden;
  width: 60%;
  padding: 20px;
  margin: 20px auto 50px auto;
  display: flex;
  justify-content: center;  
  align-items: center;
  
}

.pages-card button {
  background-color: transparent;
  width: 60px;
  padding: 1px;
  height: auto
}

.pages-card button + button {
  margin-left: 10px;
}

.box img {
  vertical-align: middle;;
}

.page-drop {
  font-family: 'HeadFont';
  border-radius: 9px;
  border-width: 3px;
  border-color: #000000;
  background-color: #ffc561;
  margin: 1rem
}

/* ===== */
/* PAGES */
/* ================ */